@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add to your global CSS file */
html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

.primary-btn {
    @apply bg-primary text-white
    font-semibold py-3 px-6 rounded-xl
    shadow-[0px_10px_14px_-7px_#de0029]
    hover:!scale-110 duration-300;
}
 
@layer utilities{
    .drop-shadow{
        filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.2));
    }
}
